@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 100;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 200;
}

body {
    /*font-family: Verdana, Meiryo, sans-serif;*/
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

#header-search {
    width: auto !important;
    min-width: auto !important;
}

#nav a {
    margin-bottom: 0 !important;
}

#process-content {
    background: transparent url("../img/loading.gif") no-repeat center center / 5rem 5rem;
    cursor: progress;
    z-index: 100000001 !important;
    overflow: hidden;
}

.card-body {
    padding: .5rem;
}

.list-group-item {
    padding: .6rem .6rem;
}

.cur-pointer {
    cursor: pointer;
}

.mar-bot-5rem {
    margin-bottom:.5rem;
}

.badge, .stretched-link {
    margin-top: .2rem;
}

#left-content {
    padding-right: 0;
}

/* start search */
#search-bar-sp {
    display: none;
}

.search-type, .search-word-type {
    max-width: 15%;
}

.clear-search-btn, .search-btn {
    width: 2.5rem;
}
/* end search */

.reading {
    padding: .4rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    border-radius: .5rem;
    font-size: 90%;
    text-align: center;
}

.word {
    font-size: 1.3em;
}

.to-top, .to-bottom {
    position: fixed;
    right: .8rem;
    display: none;
    border-radius: 20%;
    opacity: 0.6;
}

.to-top {
    bottom: 3.5rem;
}

.to-bottom {
    bottom: .7rem;
}

.to-top:hover, .to-bottom:hover{
    color: #151f28;
    background: #fff;
}

/* start table*/
#ls-content {
    margin-bottom: 0;
}
/* end table*/

@media screen and (max-width: 736px) {
    .search-type, .search-word-type {
        max-width: 28%;
    }

    #wrapper {
        font-size: 1em;
    }

    #breadcrumb {
        padding-top: 3.5rem;
    }

    #ls-content th {
        font-size: 1rem;
    }

    #ls-content td {
        font-size: .9rem;
    }
}

@media screen and (max-width: 576px) {

    /* start search bar */
    #search-bar-sp {
        display: block;
    }

    #search-bar {
        display: none;
    }

    .search-type, .search-word-type {
        max-width: 50%;
    }
    /* end search bar */

    #ls-content th {
        font-size: 1rem;
    }

    #ls-content td {
        font-size: .9rem;
    }
}

@media screen and (max-width: 480px) {

    #wrapper {
        max-width: 98%;
    }

    .container-fluid, .row,
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
    {
        padding-right: 5px;
        padding-left: 5px;
    }

    .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    .rm-pad {
        padding: 0;
    }

    .table thead th, .table thead td {
        padding: .4rem;
    }

    #breadcrumb {
        padding-top: 3.5rem;
    }

    .breadcrumb {
        margin-bottom: .5rem;
    }

    #left-content {
        padding-right: 5px;
    }

    #ls-content th {
        font-size: .8rem;
    }

    #ls-content td {
        font-size: .9rem;
        padding: .3rem;
    }
}

