td {
    position: relative;
}

:-moz-any-link > html, tr {
    display: flex;
    flex-direction: row;
}

:-moz-any-link > html, td {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sound {
    position:absolute;
    right:.2rem;
    top:.2rem;
}

.add-favourite, .remove-favourite {
    position:absolute;
    left: .5rem;
    top: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.add-favourite:hover, .remove-favourite:hover {
    background-color: transparent;
}

.add-favourite:active, .remove-favourite:active {
    background-color: transparent !important;
}

.add-favourite:hover {
    color: black;
}

.remove-favourite:hover {
    color: rgba(255, 0, 0, 0.5);
}

@media screen and (max-width: 480px) {
    .add-favourite, .remove-favourite {
        font-size: 1.2rem;
        left: .08rem;
        top: -0.24rem;
    }
}